/* COLORS */
:root {
  --vp-c-brand: #f2b452;
  --vp-c-brand-light: #ffc973;
  --vp-c-brand-lighter: #ffd694;
  --vp-c-brand-lightest: #ffe4bc;
  --vp-c-brand-dark: #f2b452;
  --vp-c-brand-darker: #e0a645;
  --vp-c-brand-dimm: rgba(255, 195, 99, 0.08);
}

/* CODE BLOCKS */
:root {
  --vp-c-text-code: #5d6f5d;
  --vp-code-block-bg: #f2f2f2;
}
.dark {
  --vp-c-text-code: #c0cec0;
  --vp-code-block-bg: #1a1a1a;
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.60);
}

/* HOME */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    #52ce63,
    #ffc63a,
    #8951b7
  );
  --vp-home-hero-image-background-image: linear-gradient(
    #52ce6360,
    #ffc63a60,
    #8951b760
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

